.env
.env.prod
tmp/
db/*.db
tests/api/result/
tests/api/benchmark/*.csv
tests/api/benchmark/*.json
tests/api/benchmark-v0/*.json
tests/api/**/*.xlsx
tests/api/cases/*.csv
!tests/api/cases/example.csv
tests/api/page/full-benchmark.html
tests/api/page/full-benchmark-v0.html
docs/ISSUES.md
bin
.DS_Store
node_modules/
package-lock.json
SPECS.md
EXAMPLE.md
seeder
server