@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-surface-900 font-sans;
    line-height: 1.6;
  }

  ::selection {
    @apply bg-accent-100 text-accent-900;
  }
}
